#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(0%);
    transition: all 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#header.close {
    transform: translateX(-100%);
}

.headerBlock {
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.headerBlock::before,
.headerBlock::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 20px;
    background: #f8f8f8;
    z-index: 2;
}
.headerBlock::before {
    top: 0;
}
.headerBlock::after {
    bottom: 0;
}
.headerBorder {
    position: absolute;
    right: 0;
    width: 50%;
    top: 0;
    height: 100%;
    border-width: 20px 20px 20px 0;
    border-style: solid;
    border-color: #d6d6d6;
    box-sizing: border-box;
    z-index: 2;
    transition: all 0s linear .25s;
}

.headerContent {
    padding-left: 75px;
    position: relative;
    z-index: 3;
}

.headerContent .name {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

#canvas {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#navigation {
    padding: 20px 0 80px;
    font-weight: 800;
    font-size: 4rem;
    text-transform: capitalize;
}
#navigation a {
    display: inline-block;
    padding: 5px 15px;
    position: relative;
}
#navigation a.home span {
    color: rgb(255, 88, 81);
}
#navigation a.skill span {
    color: rgb(243, 193, 48);
}
#navigation a.experience span {
    color: rgb(52, 152, 219);
}
#navigation a.qualification span {
    color: rgb(82, 190, 128);
}
#navigation a.contact span {
    color: rgb(149, 165, 166);
}
#navigation a i {
    position: absolute;
    width: 0%;
    height: 12px;
    left: 0;
    bottom: 8px;
    z-index: 1;
    transition: width .25s cubic-bezier(1, 0, 0, 1);
}
#navigation a.home i {
    background: rgba(255, 88, 81, 0.25);
}
#navigation a.skill i {
    background: rgba(243, 193, 48, 0.25);
}
#navigation a.experience i {
    background: rgba(52, 152, 219, 0.25);
}
#navigation a.qualification i {
    background: rgba(82, 190, 128, 0.25);
}
#navigation a.contact i {
    background: rgba(149, 165, 166, 0.25);
}
#navigation a:hover i {
    width: 100%;
}

.contactBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contactBlock address {
    font-weight: 400;
    margin-bottom: 8px;
}
.contactBlock a {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
}
.contactBlock a:not(:first-child):hover {
    text-decoration: underline;
}




#headerToggle {
    position: absolute;
    width: 68px;
    height: 38px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    transition: all 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#header.close #headerToggle {
    left: 100%;
}

#headerToggle::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    background: #ffffff;
}
#headerToggle:hover::after {
    background: #000000;
}


#headerToggle i {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: transparent;
    width: 12px;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
    z-index: 2;
}
#headerToggle i::before, 
#headerToggle i::after {
    content: '';
    width: calc(100% + 4px);
    height: 2px;
    position: absolute;
    background: #000000;
    left: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}
#headerToggle i::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
#headerToggle i::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#headerToggle:hover i::before,
#headerToggle:hover i::after {
    background: #ffffff;
}


#header.close #headerToggle i {
    background: #000000;
}
#header.close #headerToggle:hover i {
    background: #ffffff;
}
#header.close #headerToggle i::before {
    top: 0;
    transform: translateY(-4px) translateX(-50%);
}
#header.close #headerToggle i::after {
    bottom: 0;
    transform: translateY(4px) translateX(-50%);
}






#headerToggle small {
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0;
    transform: translateY(-50%) rotate(270deg);
    text-transform: uppercase;
    top: 50%;
    line-height: 1;
    transition: all 0.25s ease-in-out;}
#headerToggle small:first-of-type {
    right: -8px;
    opacity: 0;
}
#headerToggle small:last-of-type {
    left: -8px;
}
#header.close #headerToggle small:first-of-type {
    opacity: 1;
}
#header.close #headerToggle small:last-of-type {
    opacity: 0;
}
#headerToggle:hover small {
    opacity: 0 !important;
}