header#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
header#header.active {
    transform: translateX(0%);
}
.headerBlock {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerContent {
    padding-left: 75px;
}
.headerContent .name {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.contactBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contactBlock a {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
}
.contactBlock a:not(:first-child):hover {
    text-decoration: underline;
}
.contactBlock address {
    font-weight: 400;
    margin-bottom: 8px;
}
#navigation {
    padding: 20px 0 80px;
    font-weight: 800;
    font-size: 4rem;
    text-transform: capitalize;
}
#navigation a {
    display: inline-block;
    padding: 5px 15px;
    position: relative;
}
#navigation a.home span {
    color: rgb(255, 88, 81);
}
#navigation a.skill span {
    color: rgb(243, 193, 48);
}
#navigation a.experience span {
    color: rgb(52, 152, 219);
}
#navigation a.education span {
    color: rgb(82, 190, 128);
}
#navigation a.contact span {
    color: rgb(149, 165, 166);
}
#navigation a i {
    position: absolute;
    width: 0%;
    height: 12px;
    left: 0;
    bottom: 8px;
    z-index: 1;
    transition: width .25s cubic-bezier(1, 0, 0, 1);
}
#navigation a:hover i {
    width: 100%;
}
#navigation a.home i {
    background-color: rgba(255, 88, 81, 0.25);
}
#navigation a.skill i {
    background-color: rgba(243, 193, 48, 0.25);
}
#navigation a.experience i {
    background-color: rgba(52, 152, 219, 0.25);
}
#navigation a.education i {
    background-color: rgba(82, 190, 128, 0.25);
}
#navigation a.contact i {
    background-color: rgba(149, 165, 166, 0.25);
}


#headerToggle {
    position: absolute;
    width: 72px;
    height: 42px;
    left: calc(100% + 140px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
#headerToggle::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    border: 1px solid rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#headerToggle small {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    top: 50%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
#headerToggle small.open {
    transform: translateY(-50%) translateX(35%) rotate(-90deg);
    right: 0;
}
#headerToggle small.close {
    transform: translateY(-50%) translateX(-35%) rotate(-90deg);
    left: 0;
    opacity: 0;
}
#header.active #headerToggle small.close {
    opacity: 1;
}
#header.active #headerToggle small.open {
    opacity: 0;
}
#headerToggle i {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    width: 12px;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
    z-index: 2;
}
#headerToggle i::before, 
#headerToggle i::after {
    content: '';
    width: calc(100% + 4px);
    height: 2px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 50%;
    transition: all 0.25s ease-in-out;
}
#headerToggle i::before {
    top: 0;
    transform: translateY(-4px) translateX(-50%);
}
#headerToggle i::after {
    bottom: 0;
    transform: translateY(4px) translateX(-50%);
}
#headerToggle:hover::after {
    background-color: rgb(0, 0, 0);
}
#headerToggle:hover i::before,
#headerToggle:hover i::after,
#headerToggle:hover i {
    background-color: rgb(255, 255, 255);
}
#header.active #headerToggle {
    left: 0;
}
#header.active #headerToggle i {
    background-color: transparent;
}
#header.active #headerToggle i::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
#header.active #headerToggle i::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}