.section {
    height: 100vh;
    position: relative;
}

#banner::before,
#banner::after {
    content: '';
    position: absolute;
    width: calc(50% - 20px);
    height: calc(100% - 40px);
    transition: height 0.5s ease;
}
#banner::before {
    left: 20px;
    background: #f8f8f8;
    top: 0;
    transform: translateY(20px);
}
#banner::after {
    right: 20px;
    background: #ff5858;
    bottom: 0;
    transform: translateY(-20px);
}





#about::before,
#about::after {
    content: '';
    position: absolute;
    height: calc(100% - 40px);
    transition: height 0.5s ease;
}
#about::before {
    width: calc(25% - 20px);
    left: 20px;
    background: #f8f8f8;
    top: 0;
    transform: translateY(20px);
}
#about::after {
    width: calc(75% - 20px);
    right: 20px;
    background: #ff5858;
    bottom: 0;
    transform: translateY(-20px);
}
